{% extends '@AequationWire/admin/base_admin.html.twig' %}
{% import '@AequationWire/admin/partials/_elements.html.twig' as elements %}
{% set trans_domain = user.shortname %}

{% block title %}{{ 'actions.new'|trans({}, trans_domain) }}{% endblock %}

{% block main_content %}
    <div class="flex flex-row gap-2 flex-wrap justify-between items-start mb-2">
        <h1>{{ 'actions.new'|trans({}, trans_domain) }}</h1>
        <div class="flex flex-row gap-1">
            {{ elements.button('custom', user.shortname, {
                path: path('admin_user_index'),
                title: 'Cancel'|trans,
                icon: 'tabler:x',
            }) }}
        </div>
    </div>

    {{ include('@AequationWire/admin/user/_form.html.twig') }}

{% endblock %}
