@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-display: "Ubuntu Sans", sans-serif;
    --font-condensed: "Ubuntu Condensed", sans-serif;
}

@layer base {
    body {
        @apply font-display text-blue-950;
        background-color: rgb(99, 125, 136);
        @variant dark {
            @apply text-blue-200;
            background-color: rgb(19, 43, 53);
        }
    }
    h1 {
        @apply mb-4 text-emerald-950 text-3xl font-condensed font-black;
        @variant dark {
            @apply text-emerald-300;
        }
    }
}

@utility bg-color-theme {
        @apply bg-blue-200 dark:bg-blue-900;
    }
@utility text-color-theme {
        @apply text-blue-950 dark:text-blue-100;
    }

@utility h2 {
        @apply mb-4 text-blue-900 dark:text-blue-400 text-2xl font-bold;
    }
@utility h3 {
        @apply mb-4 text-blue-700 dark:text-blue-600 text-xl font-semibold;
    }

    /* BORDER THEME */
@utility theme-border {
        @apply rounded;
    }

@utility theme-border-line {
        @apply theme-border border py-1 px-3 border-teal-700 dark:border-teal-400;
    }

    /* BUTTONS */
@utility btn {
        @apply mb-1 py-2 px-6 bg-blue-50 text-black font-bold theme-border hover:bg-teal-200 focus:outline-none focus:ring-2 focus:ring-teal-600;
    }

@utility btn-small {
        @apply btn mb-1 py-1 px-3 text-sm;
    }

@utility btn-block {
        @apply btn w-full;
    }

@utility btn-primary {
        @apply btn bg-blue-500 text-blue-50 hover:bg-blue-600 focus:ring-blue-400;
    }

@utility btn-secondary {
        @apply btn bg-teal-500 text-blue-50 hover:bg-teal-600 focus:ring-teal-400;
    }

@utility btn-info {
        @apply btn bg-cyan-500 text-blue-50 hover:bg-cyan-600 focus:ring-cyan-400;
    }

@utility btn-success {
        @apply btn bg-lime-500 text-blue-50 hover:bg-lime-600 focus:ring-lime-400;
    }

@utility btn-warning {
        @apply btn bg-orange-500 text-blue-50 hover:bg-orange-600 focus:ring-orange-400;
    }

@utility btn-danger {
        @apply btn bg-red-500 text-blue-50 hover:bg-red-600 focus:ring-red-400;
    }

@utility btn-error {
        @apply btn bg-fuchsia-500 text-blue-50 hover:bg-fuchsia-600 focus:ring-fuchsia-400;
    }

@utility btn-soft {
        @apply btn text-blue-500 hover:text-blue-700 bg-blue-300 hover:bg-blue-400 dark:text-blue-400 dark:hover:text-blue-300 dark:bg-blue-800 dark:hover:bg-blue-900 focus:ring-blue-500 hover:animate-pulse!;
    }

@utility btn-gradient {
        @apply btn bg-gradient-to-r from-cyan-700 to-cyan-400 text-blue-50 hover:from-orange-800 hover:to-orange-500 focus:ring-cyan-900;
    }



    /* TABLE */

@utility table.table-index {
        @apply w-full border-collapse border border-teal-700 dark:border-blue-300 text-teal-800 dark:text-blue-400;
        tr:hover {
            @apply bg-blue-300 dark:bg-blue-950;
        }
        th {
            @apply px-3 py-1 border border-teal-600 dark:border-blue-200 text-teal-950 bg-blue-500 dark:bg-blue-600 whitespace-nowrap align-top;
        }
        td {
            @apply px-3 py-1 border border-teal-700 dark:border-blue-300 align-top;
        }
    }

@utility table.table-show {
        @apply w-full max-w-5xl mx-auto border-collapse border border-teal-700 dark:border-blue-300 text-teal-800 dark:text-blue-400;
        th {
            @apply px-3 py-1 text-right text-teal-500 dark:text-blue-400 font-light whitespace-nowrap align-top;
        }
        td {
            @apply px-3 py-1 text-left text-teal-800 dark:text-blue-200 align-top;
        }
    }

    /* FORMS */
    /* .tailwind-form */
    /* form.tailwind-form { */
        /* >div {
            @apply md:columns-2;
        } */
    /* } */

@utility form-group {
        @apply mb-3;
    }

@utility form-widget {
        @apply mt-1 w-full;
    }

@utility label {
    @apply dark:text-blue-50 block text-teal-700;
}
@utility form-label {
    @apply dark:text-blue-50 block text-teal-700;
}

@utility no-form-widget {
        @apply mt-0;
    }

@utility form-help {
        @apply mt-1 dark:text-blue-50 text-teal-600;
    }

@utility widget-expand {
        @apply flex items-center;

        .widget-expand-items {
            @apply mt-2;
        }
    }

@utility checkbox {
        @apply inline-flex items-center;

        input[type="checkbox"] {
            @apply mr-2;
        }
    }

    /* .disabled,
    [disabled] {
        @apply border-teal-300;
    } */

@utilities {

    input[type] {
        @apply theme-border text-teal-800 font-semibold;
    }

    textarea {
        @apply theme-border min-h-16 h-48 text-teal-800 font-semibold;
    }

    select {
        @apply theme-border text-teal-800 font-semibold;
    }

    select option {
        @apply text-teal-800 font-semibold;
    }

    .required::after {
        content: '*';
        @apply dark:text-red-500 text-red-700 font-extrabold;
    }

    .btn.disabled, .btn[disabled] {
        @apply opacity-35;
    }

    [disabled], .disabled {
        @apply text-teal-400 italic;
    }

    [type="submit"], [type="submit"].submit-primary {
        @apply btn btn-primary w-full my-1;
    }

    [type="submit"].submit-secondary {
        @apply btn btn-secondary w-full my-1;
    }

    [type="submit"].submit-info {
        @apply btn btn-info w-full my-1;
    }

    [type="submit"].submit-success {
        @apply btn btn-success w-full my-1;
    }

    [type="submit"].submit-warning {
        @apply btn btn-warning w-full my-1;
    }

    [type="submit"].submit-danger {
        @apply btn btn-danger w-full my-1;
    }

    [type="submit"].submit-error {
        @apply btn btn-error w-full my-1;
    }

    .form-help {
        @apply text-blue-700 dark:text-blue-600;
    }

    .form-error, .error {
        @apply text-red-700 dark:text-red-500;
    }
}


