@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import "tailwindcss";
/* @see https://github.com/tailwindlabs/tailwindcss/issues/15730#issuecomment-2612075475 */
/* @plugin "@tailwindcss/typography"; */
/* @plugin "../vendor/daisyui/daisyui.index.js"; */

/**
    @see https://tailwindcss.com/blog/tailwindcss-v4#automatic-content-detection

    If you ever need to explicitly add a source that's excluded by default, you can always add it with the @source directive, right in your CSS file:
    CSS
    @import "tailwindcss";
    @source "../node_modules/@my-company/ui-lib";
    The @source directive uses the same heuristics under the hood, so it will exclude binary file types for example as well, without you having to specify all of the extensions to scan explicitly.
 */
@source "../../templates/**/*.html.twig";
@source "../../../templates/**/*.html.twig";

@theme {
    --font-display: "Ubuntu Sans", sans-serif;
    --font-condensed: "Ubuntu Condensed", sans-serif;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@plugin "../vendor/daisyui/daisyui.index.js" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(92% 0.013 255.508);
  --color-base-300: oklch(86% 0.022 252.894);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(42% 0.199 265.638);
  --color-primary-content: oklch(93% 0.032 255.585);
  --color-secondary: oklch(43% 0.078 188.216);
  --color-secondary-content: oklch(95% 0.051 180.801);
  --color-accent: oklch(35% 0.144 278.697);
  --color-accent-content: oklch(93% 0.034 272.788);
  --color-neutral: oklch(20% 0.042 265.755);
  --color-neutral-content: oklch(96% 0.007 247.896);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(95% 0.045 203.388);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(96% 0.067 122.328);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(96% 0.059 95.617);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(93% 0.032 17.717);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.1875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@plugin "../vendor/daisyui/daisyui.index.js" {
  name: "night";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(20.768% 0.039 265.754);
  --color-base-200: oklch(19.314% 0.037 265.754);
  --color-base-300: oklch(17.86% 0.034 265.754);
  --color-base-content: oklch(84.153% 0.007 265.754);
  --color-primary: oklch(75.351% 0.138 232.661);
  --color-primary-content: oklch(15.07% 0.027 232.661);
  --color-secondary: oklch(68.011% 0.158 276.934);
  --color-secondary-content: oklch(13.602% 0.031 276.934);
  --color-accent: oklch(72.36% 0.176 350.048);
  --color-accent-content: oklch(14.472% 0.035 350.048);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(78.452% 0.132 181.911);
  --color-success-content: oklch(15.69% 0.026 181.911);
  --color-warning: oklch(83.242% 0.139 82.95);
  --color-warning-content: oklch(16.648% 0.027 82.95);
  --color-error: oklch(71.785% 0.17 13.118);
  --color-error-content: oklch(14.357% 0.034 13.118);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@layer base {
    /* :root {
        @apply font-display text-sky-950 bg-slate-100;
        @variant dark {
            @apply text-slate-200 bg-gray-950;
        }
    }
    h1 {
        @apply mb-4 text-emerald-950 text-3xl font-condensed font-black;
        @variant dark {
            @apply text-emerald-300;
        }
    } */
    /** @see https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}
