@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,500;6..12,700;6..12,800;6..12,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: rgb(71, 71, 71);
    --bg-color: rgb(241, 241, 241);
    --client-primary: rgb(4, 98, 20);
    --client-secondary: rgb(224, 0, 52);
    --overlay-color: rgba(224, 0, 52, 0.6);
    --family-default: "Nunito Sans", sans-serif;
    --family-secondary: "Sriracha", cursive;
    /* CAROUSEL */
    --height-full: 100vh;
    --height-1700: 80vh;
    --height-1230: 60vh;
    --height-800: 40vh;
    --hgt: 440px;
}

@layer base {
    body {
        @apply min-h-screen;
    }

    h1 {
        @apply text-4xl font-bold text-cyan-800 dark:text-cyan-500;
    }

    h2 {
        @apply text-3xl font-semibold text-cyan-800 dark:text-cyan-500;
    }

    h3 {
        @apply text-2xl font-semibold;
    }

    h4 {
        @apply text-lg font-medium;
    }

    header {
        @apply z-50 bg-white fixed w-full;
    }

    main {
        @apply p-0 pt-24 m-0 w-full min-h-screen flex flex-col items-center justify-between py-24 bg-slate-200 dark:bg-slate-950;
    }

    main>section {
        @apply py-12 w-full mx-auto;
    }

    footer {
        @apply py-10 w-full mx-auto bg-slate-500 text-slate-950;
    }
}

@layer components {

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-slate-700;
        /* background: #494646; */
    }

    ::-webkit-scrollbar-thumb {
        background: var(--client-primary);
    }

    .max-w-8xl {
        max-width: 2560px;
    }

    .family-default {
        font-family: var(--family-default);
    }

    .family-secondary,
    .cursive {
        font-family: var(--family-secondary);
    }

    body {
        @apply mx-auto my-0 max-w-8xl family-default overflow-x-hidden bg-stone-200 dark:bg-slate-900;
        /* max-width: 2560px; */
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        @apply text-slate-900 dark:text-slate-200;
    }

    h1 {
        @apply mt-6 mb-3 font-normal text-3xl family-secondary max-sm:text-2xl;
    }

    h2 {
        @apply mt-4 mb-2 font-medium text-2xl;
    }

    h3 {
        @apply mt-3 font-medium text-xl text-slate-700 dark:text-slate-400;
    }

    h4 {
        @apply underline font-light text-sm text-stone-600 dark:text-slate-500;
    }

    p {
        @apply py-1.5;
    }

    a {
        @apply no-underline text-inherit;
    }

    small {
        @apply opacity-75 italic;
    }

    .hide {
        @apply hidden;
    }

    .show {
        @apply block;
    }

    .op-40 {
        @apply opacity-40;
        transition: all 0.8s ease;
    }

    .op-50 {
        @apply opacity-50;
        transition: all 0.8s ease;
    }

    .op-60 {
        @apply opacity-60;
        transition: all 0.8s ease;
    }

    .op-70 {
        @apply opacity-70;
        transition: all 0.8s ease;
    }

    .op-80 {
        @apply opacity-80;
        transition: all 0.8s ease;
    }

    .op-90 {
        @apply opacity-90;
        transition: all 0.8s ease;
    }

    .op-100 {
        @apply opacity-100;
        transition: all 0.8s ease;
    }


    /*********************************************************************************************************************************/
    /** CONTAINER
    /*********************************************************************************************************************************/

    .main-container {
        @apply relative text-white dark:text-gray-900 bg-stone-200 dark:bg-slate-900;
        top: 200px;
    }

    .simple-container {
        @apply mt-10 text-white dark:text-gray-900 bg-stone-200 dark:bg-slate-900;
        /* @apply relative text-white dark:text-gray-900 bg-stone-200 dark:bg-slate-900; */
        /* top: 40px; */
    }

    section {
        @apply text-stone-900 dark:text-slate-200;
        padding: 30px;
        max-width: 1250px;
        margin: 0 auto;
    }

    section h1 {
        @apply text-client_primary dark:text-client_secondary;
    }

    section h2 {
        @apply text-orange-700 dark:text-orange-500;
    }

    section code {
        @apply text-danger-800 dark:text-danger-500 px-3 border-l-8 border-s-orange-600;
    }

    .carousel {
        user-select: none;
    }


    /*********************************************************************************************************************************/
    /** TEXT
    /*********************************************************************************************************************************/

    .text-middle-mwhite {
        @apply text-mwhite-600 dark:text-mwhite-400;
    }

    .text-mwhite {
        @apply text-mwhite-100 dark:text-mwhite-900;
    }

    .text-mdark {
        @apply text-mdark-950 dark:text-mdark-100;
    }

    .text-primary {
        @apply text-primary-700 dark:text-primary-500;
    }

    .text-secondary {
        @apply text-secondary-700 dark:text-secondary-500;
    }

    .text-info {
        @apply text-info-700 dark:text-info-500;
    }

    .text-success {
        @apply text-success-700 dark:text-success-500;
    }

    .text-warning {
        @apply text-warning-700 dark:text-warning-500;
    }

    .text-danger {
        @apply text-danger-700 dark:text-danger-500;
    }

    .text-error {
        @apply text-error-700 dark:text-error-500;
    }

    .text-muted {
        @apply text-mdark-700 dark:text-mdark-600;
    }


    /*********************************************************************************************************************************/
    /** BORDER
    /*********************************************************************************************************************************/

    /* BORDER THEME */
    .theme-border {
        @apply rounded-md;
        border: 1px;
    }


    /*********************************************************************************************************************************/
    /** BUTTONS
    /*********************************************************************************************************************************/

    .btn {
        @apply mb-1 py-2 px-6 bg-white text-black font-bold theme-border hover:bg-mwhite-200 focus:outline-none focus:ring-2 focus:ring-mwhite-600 focus:ring-opacity-75;
    }

    .btn.disabled,
    .btn[disabled] {
        @apply opacity-35;
    }

    .btn-sm {
        @apply btn mb-1 py-1 px-3 text-sm;
    }

    .btn-lg {
        @apply btn mb-1 py-6 px-10 text-2xl;
    }

    .btn-primary {
        @apply btn bg-primary-500 text-white hover:bg-primary-600 focus:ring-primary-400;
    }

    .btn-client_primary {
        @apply btn bg-client_primary text-white hover:bg-green-900 focus:ring-client_primary;
    }

    .btn-client_secondary {
        @apply btn bg-client_secondary text-white hover:bg-red-900 focus:ring-client_secondary;
    }

    .btn-secondary {
        @apply btn bg-secondary-500 text-white hover:bg-secondary-600 focus:ring-secondary-400;
    }

    .btn-info {
        @apply btn bg-info-500 text-white hover:bg-info-600 focus:ring-info-400;
    }

    .btn-success {
        @apply btn bg-success-500 text-white hover:bg-success-600 focus:ring-success-400;
    }

    .btn-warning {
        @apply btn bg-warning-500 text-white hover:bg-warning-600 focus:ring-warning-400;
    }

    .btn-danger {
        @apply btn bg-danger-500 text-white hover:bg-danger-600 focus:ring-danger-400;
    }

    .btn-error {
        @apply btn bg-error-500 text-white hover:bg-error-600 focus:ring-error-400;
    }

    .btn-soft {
        @apply btn text-mdark-500 hover:text-mdark-700 bg-mdark-300 hover:bg-mdark-400 dark:text-mdark-400 dark:hover:text-mdark-300 dark:bg-mdark-800 dark:hover:bg-mdark-900 focus:ring-mdark-500 hover:animate-pulse !important;
    }

    .btn-gradient {
        @apply btn bg-gradient-to-r from-info-700 to-info-400 text-white hover:from-warning-800 hover:to-warning-500 focus:ring-info-900;
    }


    /*********************************************************************************************************************************/
    /** BADGE
    /*********************************************************************************************************************************/

    .badge-primary {
        @apply bg-primary-800 dark:bg-primary-700 rounded-full inline-block p-0 font-semibold;
        @apply text-mwhite-50 !important;
        margin: 0px 2px;
        padding: 3px 8px;
        line-height: normal;
        font-size: x-small;
        vertical-align: text-bottom;
    }

    .badge-secondary {
        @apply bg-secondary-800 dark:bg-secondary-700 rounded-full inline-block p-0 font-semibold;
        @apply text-mwhite-50 !important;
        margin: 0px 2px;
        padding: 3px 8px;
        line-height: normal;
        font-size: x-small;
        vertical-align: text-bottom;
    }

    .badge-info {
        @apply bg-info-800 dark:bg-info-700 rounded-full inline-block p-0 font-semibold;
        @apply text-mwhite-50 !important;
        margin: 0px 2px;
        padding: 3px 8px;
        line-height: normal;
        font-size: x-small;
        vertical-align: text-bottom;
    }

    .badge-success {
        @apply bg-success-800 dark:bg-success-700 rounded-full inline-block p-0 font-semibold;
        @apply text-mwhite-50 !important;
        margin: 0px 2px;
        padding: 3px 8px;
        line-height: normal;
        font-size: x-small;
        vertical-align: text-bottom;
    }

    .badge-warning {
        @apply bg-warning-800 dark:bg-warning-700 rounded-full inline-block p-0 font-semibold;
        @apply text-mwhite-50 !important;
        margin: 0px 2px;
        padding: 3px 8px;
        line-height: normal;
        font-size: x-small;
        vertical-align: text-bottom;
    }

    .badge-danger {
        @apply bg-danger-800 dark:bg-danger-700 rounded-full inline-block p-0 font-semibold;
        @apply text-mwhite-50 !important;
        margin: 0px 2px;
        padding: 3px 8px;
        line-height: normal;
        font-size: x-small;
        vertical-align: text-bottom;
    }

    .badge-error {
        @apply bg-error-800 dark:bg-error-700 rounded-full inline-block p-0 font-semibold;
        @apply text-mwhite-50 !important;
        margin: 0px 2px;
        padding: 3px 8px;
        line-height: normal;
        font-size: x-small;
        vertical-align: text-bottom;
    }


    /*********************************************************************************************************************************/
    /** ALERT
    /*********************************************************************************************************************************/

    .alert {
        @apply my-1 w-full shadow-none border-mwhite-500 theme-border bg-white text-black dark:border-mwhite-900 dark:bg-mwhite-700 dark:text-mwhite-200 p-3 theme-border;
    }

    .alert-primary {
        @apply alert border-primary-600 bg-primary-300 text-primary-600 dark:border-primary-900 dark:bg-primary-700 dark:text-primary-300;
    }

    .alert-secondary {
        @apply alert border-secondary-600 bg-secondary-300 text-secondary-600 dark:border-secondary-900 dark:bg-secondary-700 dark:text-secondary-300;
    }

    .alert-info {
        @apply alert border-info-600 bg-info-300 text-info-600 dark:border-info-900 dark:bg-info-700 dark:text-info-300;
    }

    .alert-success {
        @apply alert border-success-600 bg-success-300 text-success-600 dark:border-success-900 dark:bg-success-700 dark:text-success-300;
    }

    .alert-warning {
        @apply alert border-warning-600 bg-warning-300 text-warning-600 dark:border-warning-900 dark:bg-warning-700 dark:text-warning-300;
    }

    .alert-danger {
        @apply alert border-danger-600 bg-danger-300 text-danger-600 dark:border-danger-900 dark:bg-danger-700 dark:text-danger-300;
    }

    .alert-error {
        @apply alert border-error-600 bg-error-300 text-error-600 dark:border-error-900 dark:bg-error-700 dark:text-error-300;
    }


    /*********************************************************************************************************************************/
    /** NOTYF
    /*********************************************************************************************************************************/

    .notyf-primary {
        @apply bg-primary-500 dark:bg-primary-700;
        /* background-color: theme('colors.primary.500'); */
    }

    .notyf-secondary {
        @apply bg-secondary-500 dark:bg-secondary-700;
        /* background-color: theme('colors.secondary.500'); */
    }

    .notyf-info {
        @apply bg-info-500 dark:bg-info-700;
        /* background-color: theme('colors.info.500'); */
    }

    .notyf-success {
        @apply bg-success-500 dark:bg-success-700;
        /* background-color: theme('colors.success.500'); */
    }

    .notyf-warning {
        @apply bg-warning-500 dark:bg-warning-600;
        /* background-color: theme('colors.warning.500'); */
    }

    .notyf-danger {
        @apply bg-danger-500 dark:bg-danger-700;
        /* background-color: theme('colors.danger.500'); */
    }

    .notyf-error {
        @apply bg-error-700 dark:bg-error-900;
        /* background-color: theme('colors.error.500'); */
    }


    /*********************************************************************************************************************************/
    /** NAVBAR
    /*********************************************************************************************************************************/

    .navbar {
        position: fixed;
        width: 100%;
        max-width: 2560px;
        z-index: 2;
        transition: all 0.3s ease;
        height: 120px;
    }

    .bg-full {
        @apply bg-left-bottom bg-no-repeat w-full h-full absolute;
        background-size: unset;
    }

    .sub-breadcrumb {
        @apply bg-full bg-stone-400 dark:bg-slate-600 backdrop-blur-xl bg-opacity-40 dark:backdrop-blur-xl dark:bg-opacity-40;
        height: 180px;
    }

    .sub-breadcrumb .title {
        @apply text-stone-800 dark:text-slate-100 text-3xl max-sm:text-2xl text-center my-0 text-ellipsis whitespace-nowrap overflow-hidden font-medium;
        padding: 134px 18px 0px;
        font-family: var(--family-secondary);
    }

    .navbar.nav-sticky {
        background-color: transparent;
    }

    .navbar.nav-sticky .toOp-darker {
        opacity: 0.8;
        transition: all 0.8s ease;
    }

    .navbar .nav-content {
        position: relative;
        width: 100%;
        padding: 0 30px 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .logo {
        @apply select-none text-white;
        width: 310px;
        height: 115px;
    }

    .navbar .logo a {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
    }

    .navbar .logo a div:first-child {
        @apply select-none;
        font-weight: 400;
        font-size: 36px;
        text-align: left;
        transition: all 0.3s ease;
    }

    .navbar .logo a div:nth-child(2) {
        @apply select-none;
        font-weight: 800;
        font-size: 60px;
        text-align: right;
        line-height: 46px;
        transition: all 0.6s ease;
    }

    .navbar .menu-list {
        @apply inline-flex select-none;
    }

    .navbar .menu-list li {
        list-style: none;
        margin-left: 15px;
        padding: 0 10px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .navbar .menu-list li.active:hover {
        border: 1px solid transparent;
    }

    .navbar .menu-list li.active {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        color: var(--client-secondary);
    }

    .navbar .menu-list li a {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .navbar .menu-list li:hover {
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 4px;
    }

    .nav-icon {
        @apply text-slate-200 cursor-pointer hidden;
    }

    .nav-icon>svg {
        @apply fill-slate-200;
        width: 28px;
    }

    svg {
        @apply inline-block;
    }

    @media (max-width: 1230px) {
        body.disabled {
            overflow: hidden;
        }

        .navbar .nav-content {
            padding-left: 50px;
        }

        .nav-icon {
            @apply block;
        }

        .navbar .logo {
            margin: 26px auto 0;
            padding-left: 40px;
        }

        .logo-bg-content {
            height: 100px;
        }

        .navbar .logo a div:first-child {
            @apply select-none;
            font-weight: 400;
            font-size: 28px;
            text-align: center;
        }

        .navbar .logo a div:nth-child(2) {
            @apply select-none;
            font-weight: 900;
            font-size: 50px;
            text-align: center;
            line-height: 28px;
        }

        .navbar .menu-list {
            position: fixed;
            height: 100%;
            width: 100%;
            max-width: 400px;
            left: -100%;
            top: 0px;
            display: block;
            padding: 40px 20px 40px 0px;
            text-align: center;
            background-color: var(--client-secondary);
            transition: all 0.3s ease;
            opacity: 0.8;
        }

        .navbar.show .menu-list {
            left: 0%;
        }

        .navbar .menu-list li {
            margin-top: 8px;
            padding: 0;
        }

        .navbar .menu-list .nav-icon {
            display: inline-block;
            margin-left: 30px;
            margin-bottom: 30px;
        }

        .navbar .menu-list li a {
            @apply font-bold;
            font-size: 23px;
            margin-left: -100%;
            letter-spacing: 1px;
            transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 12px;
        }

        .navbar.show .menu-list li a {
            margin-left: 0px;
        }

        .navbar.show .menu-list li a:hover {
            border-color: white;
        }

        .menu-list li.active a {
            color: white;
        }
    }

    @media (max-width: 380px) {
        .navbar .logo a {
            font-size: 27px;
        }
    }

    @media (min-width: 1530px) {
        .navbar .logo {
            width: 610px;
        }

        /* .logo-bg-content {
            height: 100px;
        } */

        .navbar .logo a {
            font-weight: 600;
            display: flex;
            margin-top: 27px;
        }

        .navbar .logo a div:first-child {
            @apply select-none;
            font-weight: 600;
            font-size: 60px;
            text-align: left;
            padding-left: 81px;
        }

        .navbar .logo a div:nth-child(2) {
            @apply select-none;
            font-weight: 800;
            font-size: 60px;
            text-align: right;
            line-height: 91px;
            margin-left: 20px;
        }
    }


    /*********************************************************************************************************************************/
    /** CAROUSEL
    /*********************************************************************************************************************************/

    .carousel-container {
        @apply fixed w-full;
        max-width: 2560px;
        height: var(--height-1700);
    }

    /* .carousel.carousel-slider {
    } */
    .carousel .slide-content {
        @apply relative w-full top-0 left-0;
        height: var(--height-1700);
    }

    .main-container.has-main-slider {
        top: var(--height-1700);
    }

    .carousel .slide-content img {
        @apply object-cover h-full w-full select-none;
    }

    .carousel .slide-content .overlay {
        @apply absolute text-white rounded-xl backdrop-blur-sm sepia-0 bg-stone-800 bg-opacity-70 dark:bg-slate-800 dark:bg-opacity-70;
        bottom: 6px;
        width: 60%;
        left: 20%;
        padding: 0.5rem 1.5rem 1.5rem;
        /* background-color: rgba(0,20,40,.7); */
    }

    .carousel .slide-content .overlay h1 {
        @apply mt-3 mb-2 text-white;
    }

    .carousel .slide-content .overlay p {
        @apply text-white;
    }

    .carousel .slide-content .overlay.overlay-bottom {
        padding: 0.5rem 1.5rem 1.5rem;
    }

    .carousel .slide-content .overlay.overlay-center {
        top: 58%;
        transform: translateY(-50%);
        padding: 0.5rem 1.5rem 1.5rem;
    }

    .carousel .slide-content .overlay.overlay-top-left {
        width: 40%;
        top: 130px;
        left: 6px;
        bottom: unset;
        padding: 0.5rem 1.5rem 0.5rem;
    }

    .carousel .slide-content .overlay.overlay-top-right {
        width: 40%;
        top: 130px;
        left: unset;
        right: 6px;
        bottom: unset;
        padding: 0.5rem 1.5rem 0.5rem;
    }

    .carousel .slide-content .overlay.overlay-bottom-left {
        width: 40%;
        bottom: 6px;
        left: 6px;
        padding: 0.5rem 1.5rem 1.5rem;
    }

    .carousel .slide-content .overlay.overlay-bottom-right {
        width: 40%;
        bottom: 6px;
        left: unset;
        right: 6px;
        padding: 0.5rem 1.5rem 1.5rem;
    }

    .carousel .control-dots .dot {
        /* border: 3px solid var(--client-secondary); */
        width: 16px;
        height: 16px;
    }

    @media (min-width: 1700px) {
        .carousel .slide-content {
            height: var(--height-full);
        }

        .main-container.has-main-slider {
            top: var(--height-full);
        }
    }

    @media (max-width: 1230px) {
        .carousel .slide-content {
            height: var(--height-1230);
        }

        .main-container.has-main-slider {
            top: var(--height-1230);
        }

        .carousel .slide-content .overlay {
            width: 90%;
            left: 5%;
        }

        .carousel .slide-content .overlay.overlay-top-left {
            width: 60%;
        }

        .carousel .slide-content .overlay.overlay-top-right {
            width: 60%;
        }

        .carousel .slide-content .overlay.overlay-bottom-left {
            width: 60%;
        }

        .carousel .slide-content .overlay.overlay-bottom-right {
            width: 60%;
        }
    }

    @media (max-width: 800px) {
        .carousel .slide-content {
            height: var(--height-800);
        }

        .main-container.has-main-slider {
            top: var(--height-800);
        }

        .carousel .slide-content .overlay {
            display: none;
        }
    }


    /*********************************************************************************************************************************/
    /** CAT CAROUSEL
    /*********************************************************************************************************************************/

    .cat-carousel-container {
        @apply block mx-auto w-6/12;
    }

    @media (max-width: 1230px) {
        .cat-carousel-container {
            @apply block mx-auto w-8/12;
        }
    }

    @media (max-width: 1140px) {
        .cat-carousel-container {
            @apply block mx-auto w-10/12;
        }
    }

    @media (max-width: 800px) {
        .cat-carousel-container {
            @apply block mx-auto w-11/12;
        }
    }


    /*********************************************************************************************************************************/
    /** COMMANDS
    /*********************************************************************************************************************************/

    #command {
        @apply fixed select-none bottom-0 right-0 flex flex-col items-center content-evenly bg-stone-800 dark:bg-slate-700 h-auto rounded-tl-3xl p-1 fill-client_primary text-client_primary dark:fill-client_secondary dark:text-client_secondary;
        z-index: 1000;
    }

    #command .cmd-hid {
        @apply hidden;
    }

    #command>div {
        @apply flex select-none place-content-center items-center bg-stone-400 dark:bg-slate-400 cursor-pointer rounded-full;
        width: 40px;
        height: 40px;
        margin: 2px;
    }

    /* #command > div:hover {
        @apply bg-client_primary dark:bg-client_secondary text-white fill-white;
    } */


    /*********************************************************************************************************************************/
    /** H ITEMS
    /*********************************************************************************************************************************/

    .h-items {
        @apply grid gap-4 place-content-center grid-cols-4 max-lg:grid-cols-2 max-md:grid-cols-1;
    }

    .h-items .h-item {
        @apply relative overflow-hidden bg-gray-700 h-64 max-md:h-48 rounded;
    }

    .h-items .h-item img {
        @apply block w-full h-full object-cover;
    }

    .h-items .h-item .h-item-content {
        @apply flex absolute top-0 left-0 h-full w-full justify-center items-center;
    }

    .h-items .h-item .h-item-content>a {
        @apply flex absolute top-0 left-0 h-full w-full justify-center items-center;
    }

    .h-items .h-item .h-item-overlay {
        @apply hidden absolute top-0 left-0 h-full w-full;
    }

    .h-items .h-item:hover .h-item-overlay {
        @apply flex bg-warning-700 bg-opacity-70 cursor-pointer;
    }

    .h-items .h-item:hover img {
        @apply sepia;
    }

    .h-items .h-item .h-item-content .h-title {
        @apply uppercase text-center text-white font-extrabold text-2xl;
    }


    /*********************************************************************************************************************************/
    /** PUR CSS SLIDER
    /** @see https://www.youtube.com/watch?v=4kE_K7fzsqY
    /*********************************************************************************************************************************/

    .pub-slider {
        user-select: none;
        padding: 6px 0;
        background-color: var(--client-secondary);
        overflow: hidden;
        box-shadow: 0 16px 12px 8px #00000087;
        max-width: initial;
        margin: initial;
    }

    .pub-slider .slides {
        display: flex;
        animation: pub-slider 12s infinite ease-in-out;
    }

    .pub-slider .slides>p {
        @apply flex-shrink-0 text-center w-full text-white;
        /* REMOVED : text-ellipsis whitespace-nowrap overflow-hidden */
        font-size: 26px;
        font-family: var(--family-secondary);
    }

    @media (max-width: 800px) {
        .pub-slider .slides>p {
            padding: 0 12px;
            font-size: 22px;
            line-height: 24px;
            /* font-family: var(--family-default); */
            /* font-weight: 800; */
            /* letter-spacing: -1px; */
        }
    }

    @keyframes pub-slider {

        0%,
        23% {
            transform: translateX(0%);
        }

        33%,
        56% {
            transform: translateX(-100%);
        }

        66%,
        89% {
            transform: translateX(-200%);
        }

        100% {
            transform: translateX(-300%);
        }
    }


    /*********************************************************************************************************************************/
    /** BEFORAFTER
    /*********************************************************************************************************************************/

    .beforafter {
        @apply block w-full h-full overflow-hidden rounded;
        height: var(--hgt);
    }

    .beforafter .imgbloc {
        @apply w-full h-full;
    }

    .beforafter .imgbloc .bloctxt {
        @apply inline-block py-1 px-20 absolute text-white text-2xl font-bold left-12 bottom-3 bg-slate-800 bg-opacity-70 rounded-md;
    }

    .beforafter .imgbloc .bloctxt-client_secondary {
        @apply bg-client_secondary bg-opacity-80;
    }

    .beforafter img {
        @apply select-none h-full w-full object-cover;
        object-position: center left;
    }

    .beforafter .foregd {
        @apply h-full absolute top-0 left-0 overflow-hidden;
        width: 25px;
        min-width: 25px;
        border-right: 3px solid var(--client-secondary);
        box-shadow: 6px 0px 15px 4px rgba(0, 0, 0, .8);
    }

    /* .beforafter .foregd img {
        min-width: 749px !important;
    } */
    .beforafter .foregd .foregd-slide {
        /* Foreground Element */
        @apply relative h-full;
    }

    .beforafter .beforafter-overlay {
        /* Overlay */
        @apply absolute top-0 right-0 m-2 px-3 pt-0 pb-1 rounded-lg bg-slate-800 bg-opacity-80 sm:max-w-md max-w-full text-white text-left;
        max-height: 95%;
    }

    .beforafter .beforafter-overlay h2 {
        @apply block font-extrabold max-sm:text-xl text-3xl my-1 mx-auto px-0 text-right text-white;
    }

    .beforafter .beforafter-overlay .shownOnHover {
        @apply h-0 w-0 hidden;
    }

    .beforafter .beforafter-overlay:hover,
    .beforafter .beforafter-overlay:focus {
        @apply h-auto overflow-y-auto;
    }

    .beforafter .beforafter-overlay:hover .shownOnHover,
    .beforafter .beforafter-overlay:focus .shownOnHover {
        @apply block h-auto;
        /* height: auto; */
        /* max-height: calc(var(--hgt) - 65px); */
        width: initial;
    }

    .beforafter .foregd .handler {
        @apply flex absolute right-0 bg-client_secondary cursor-ew-resize text-white fill-white;
        width: 30px;
        height: 40px;
        line-height: 50px;
        top: 50%;
        transform: translateY(-50%);
        /* bottom: 0px; */
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    @media (max-width: 800px) {
        .beforafter .foregd .handler {
            width: 50px;
            height: 60px;
            line-height: 75px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
    }

    main>section>*,
    footer>* {
        @apply max-w-5xl mx-auto;
    }

    iframe.video {
        @apply w-full aspect-video border-2 border-white mx-auto;
    }

    iframe.video-full {
        @apply rounded-2xl max-w-full;
    }

    iframe.video-3xl {
        @apply rounded-2xl max-w-3xl;
    }

    iframe.video-2xl {
        @apply rounded-2xl max-w-2xl;
    }

    iframe.video-xl {
        @apply rounded-2xl max-w-xl;
    }

    iframe.video-lg {
        @apply rounded-xl max-w-lg;
    }

    iframe.video-md {
        @apply rounded-md max-w-md;
    }

    iframe.video-sm {
        @apply rounded-2xl border-2 border-white mx-auto max-w-sm;
    }

    /*********************************************************************************************************************************/
    /** FOOTER
    /*********************************************************************************************************************************/

    footer {
        @apply block w-full px-6 bg-stone-700 dark:bg-slate-900 text-stone-200 dark:text-slate-400;
        padding: 6px 0px 32px;
        box-shadow: 0 50px 65px #000 inset;
    }

    footer .content {
        @apply grid grid-cols-1 md:grid-cols-3 gap-x-8 gap-y-2;
        padding: 20px 30px;
        max-width: 1250px;
        margin: 0 auto;
    }

    footer .content>div {
        @apply pt-2 pb-1 mb-0 border-transparent text-center;
        border-top-width: 1px;
    }

    footer .content>div:nth-child(1) {
        @apply pt-0 md:pt-2 md:border-stone-500 dark:md:border-slate-700 md:text-left;
    }

    footer .content>div:nth-child(2) {
        @apply md:pt-2 border-stone-500 dark:border-slate-700;
    }

    footer .content>div:nth-child(3) {
        @apply md:pt-2 border-stone-500 dark:border-slate-700 md:text-right;
    }

    footer .content span {
        @apply text-stone-200 dark:text-slate-200;
    }

    @media (max-width: 1300px) {
        footer .content>div:nth-child(3) {
            @apply pr-10 max-md:pr-0;
        }
    }

    /*********************************************************************************************************************************/
    /** CAROUSEL
    /*********************************************************************************************************************************/

    .carousel .control-arrow,
    .carousel.carousel-slider .control-arrow {
        -webkit-transition: all 0.25s ease-in;
        -moz-transition: all 0.25s ease-in;
        -ms-transition: all 0.25s ease-in;
        -o-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in;
        opacity: 0.4;
        filter: alpha(opacity=40);
        position: absolute;
        z-index: 2;
        top: 20px;
        background: none;
        border: 0;
        font-size: 32px;
        cursor: pointer;
    }
    
    .carousel .control-arrow:focus,
    .carousel .control-arrow:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    
    .carousel .control-arrow:before,
    .carousel.carousel-slider .control-arrow:before {
        margin: 0 5px;
        display: inline-block;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        content: '';
    }
    
    .carousel .control-disabled.control-arrow {
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: inherit;
        display: none;
    }
    
    .carousel .control-prev.control-arrow {
        left: 0;
    }
    
    .carousel .control-prev.control-arrow:before {
        border-right: 8px solid #fff;
    }
    
    .carousel .control-next.control-arrow {
        right: 0;
    }
    
    .carousel .control-next.control-arrow:before {
        border-left: 8px solid #fff;
    }
    
    .carousel-root {
        outline: none;
    }
    
    .carousel {
        position: relative;
        width: 100%;
    }
    
    .carousel * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .carousel img {
        width: 100%;
        display: inline-block;
        pointer-events: none;
    }
    
    .carousel .carousel {
        position: relative;
    }
    
    .carousel .control-arrow {
        outline: 0;
        border: 0;
        background: none;
        top: 50%;
        margin-top: -13px;
        font-size: 18px;
    }
    
    .carousel .thumbs-wrapper {
        margin: 20px;
        overflow: hidden;
    }
    
    .carousel .thumbs {
        -webkit-transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        -ms-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        position: relative;
        list-style: none;
        white-space: nowrap;
    }
    
    .carousel .thumb {
        -webkit-transition: border 0.15s ease-in;
        -moz-transition: border 0.15s ease-in;
        -ms-transition: border 0.15s ease-in;
        -o-transition: border 0.15s ease-in;
        transition: border 0.15s ease-in;
        display: inline-block;
        margin-right: 6px;
        white-space: nowrap;
        overflow: hidden;
        border: 3px solid #fff;
        padding: 2px;
    }
    
    .carousel .thumb:focus {
        border: 3px solid #ccc;
        outline: none;
    }
    
    .carousel .thumb.selected,
    .carousel .thumb:hover {
        border: 3px solid #333;
    }
    
    .carousel .thumb img {
        vertical-align: top;
    }
    
    .carousel.carousel-slider {
        position: relative;
        margin: 0;
        overflow: hidden;
    }
    
    .carousel.carousel-slider .control-arrow {
        top: 0;
        color: #fff;
        font-size: 26px;
        bottom: 0;
        margin-top: 0;
        padding: 5px;
    }
    
    .carousel.carousel-slider .control-arrow:hover {
        background: rgba(0, 0, 0, 0.2);
    }
    
    .carousel .slider-wrapper {
        overflow: hidden;
        margin: auto;
        width: 100%;
        -webkit-transition: height 0.15s ease-in;
        -moz-transition: height 0.15s ease-in;
        -ms-transition: height 0.15s ease-in;
        -o-transition: height 0.15s ease-in;
        transition: height 0.15s ease-in;
    }
    
    .carousel .slider-wrapper.axis-horizontal .slider {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
    }
    
    .carousel .slider-wrapper.axis-horizontal .slider .slide {
        flex-direction: column;
        flex-flow: column;
    }
    
    .carousel .slider-wrapper.axis-vertical {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
    }
    
    .carousel .slider-wrapper.axis-vertical .slider {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    
    .carousel .slider {
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        width: 100%;
    }
    
    .carousel .slider.animated {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }
    
    .carousel .slide {
        min-width: 100%;
        margin: 0;
        position: relative;
        text-align: center;
    }
    
    .carousel .slide img {
        width: 100%;
        vertical-align: top;
        border: 0;
    }
    
    .carousel .slide iframe {
        display: inline-block;
        width: calc(100% - 80px);
        margin: 0 40px 40px;
        border: 0;
    }
    
    .carousel .slide .legend {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        position: absolute;
        bottom: 40px;
        left: 50%;
        margin-left: -45%;
        width: 90%;
        border-radius: 10px;
        background: #000;
        color: #fff;
        padding: 10px;
        font-size: 12px;
        text-align: center;
        opacity: 0.25;
        -webkit-transition: opacity 0.35s ease-in-out;
        -moz-transition: opacity 0.35s ease-in-out;
        -ms-transition: opacity 0.35s ease-in-out;
        -o-transition: opacity 0.35s ease-in-out;
        transition: opacity 0.35s ease-in-out;
    }
    
    .carousel .control-dots {
        position: absolute;
        bottom: 0;
        margin: 10px 0;
        padding: 0;
        text-align: center;
        width: 100%;
        z-index: 1;
    }
    
    @media (min-width: 960px) {
        .carousel .control-dots {
            bottom: 0;
        }
    }
    
    .carousel .control-dots .dot {
        -webkit-transition: opacity 0.25s ease-in;
        -moz-transition: opacity 0.25s ease-in;
        -ms-transition: opacity 0.25s ease-in;
        -o-transition: opacity 0.25s ease-in;
        transition: opacity 0.25s ease-in;
        opacity: 0.3;
        filter: alpha(opacity=30);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
        background: #fff;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        cursor: pointer;
        display: inline-block;
        margin: 0 8px;
    }
    
    .carousel .control-dots .dot.selected,
    .carousel .control-dots .dot:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    
    .carousel .carousel-status {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
        color: #fff;
    }
    
    .carousel:hover .slide .legend {
        opacity: 1;
    }

}

