@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import "tailwindcss";
/* @see https://github.com/tailwindlabs/tailwindcss/issues/15730#issuecomment-2612075475 */
/* @plugin "@tailwindcss/typography"; */
@plugin "../vendor/daisyui/daisyui.index.js";
/* @plugin "../../../../../assets/vendor/daisyui/daisyui.index.js"; */

/**
    @see https://tailwindcss.com/blog/tailwindcss-v4#automatic-content-detection

    If you ever need to explicitly add a source that's excluded by default, you can always add it with the @source directive, right in your CSS file:
    CSS
    @import "tailwindcss";
    @source "../node_modules/@my-company/ui-lib";
    The @source directive uses the same heuristics under the hood, so it will exclude binary file types for example as well, without you having to specify all of the extensions to scan explicitly.
 */
@source "../../templates/**/*.html.twig";

@theme {
    --font-display: "Ubuntu Sans", sans-serif;
    --font-condensed: "Ubuntu Condensed", sans-serif;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@layer base {
    :root {
        @apply font-display text-sky-950 bg-slate-100;
        @variant dark {
            @apply text-slate-200 bg-gray-950;
        }
    }
    h1 {
        @apply mb-4 text-emerald-950 text-3xl font-condensed font-black;
        @variant dark {
            @apply text-emerald-300;
        }
    }
    /** @see https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}
