{% if pageCount > 1 %}
    <div class="flex flex-row gap-1 items-center justify-between my-2">
        {% if previous is defined %}
            <a rel="prev" href="{{ path(route, knp_pagination_query(query, previous)) }}" class="flex items-center justify-center rounded-lg px-2 h-8 text-amber-500 bg-white border border-amber-300 hover:bg-amber-100 hover:text-amber-700 dark:bg-amber-800 dark:border-amber-700 dark:text-amber-400 dark:hover:bg-amber-700 dark:hover:text-white"><twig:ux:icon name="tabler:caret-left" class="w-5" /></a>
        {% else %}
            <span class="opacity-30 flex items-center justify-center rounded-lg px-2 h-8 text-amber-500 bg-white border border-amber-300 dark:bg-amber-800 dark:border-amber-700 dark:text-amber-400"><twig:ux:icon name="tabler:caret-left" class="w-5" /></span>
        {% endif %}
        {% if next is defined %}
            <a rel="next" href="{{ path(route, knp_pagination_query(query, next)) }}" class="flex items-center justify-center rounded-lg px-2 h-8 text-amber-500 bg-white border border-amber-300 hover:bg-amber-100 hover:text-amber-700 dark:bg-amber-800 dark:border-amber-700 dark:text-amber-400 dark:hover:bg-amber-700 dark:hover:text-white"><twig:ux:icon name="tabler:caret-right" class="w-5" /></a>
        {% else %}
            <span class="opacity-30 flex items-center justify-center rounded-lg px-2 h-8 text-amber-500 bg-white border border-amber-300 dark:bg-amber-800 dark:border-amber-700 dark:text-amber-400"><twig:ux:icon name="tabler:caret-right" class="w-5" /></span>
        {% endif %}
    </div>
{% endif %}